/* Image for our main index.html page */
.header-image {
  background-image: url('../img/main_bg.jpg');
}

/* Wrapper class to put in div around tables */
.table-wrapper {
  margin-top: 25px;
}

#data-table {
  border: 2px solid black;
}

/* Styling for our data table hover */
#data-table > tbody > tr:hover {
  background-color: #c2f5f6;
}

/* Add pointer to rows in data tables because they're links */
#data-table > tbody > tr {
  cursor: pointer;
}

/* Change color of the borders of table header */
#data-table thead > tr > th {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: black;
  font-size: 20px;
  text-align: center;
}

/* Change color of the borders of table rows */
#data-table tbody > tr > td {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
  font-weight: bold;
  text-align: center;
}

/* center text */
.center-text {
  text-align: center;
}

/* Makes text bold */
.bold-text {
  font-weight: bold;
}

/* Style for individual page images, centers them */
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Removes bullet points from ul */
.no-bullet > li {
  list-style: none;
}