/* Image for our main index.html page */

.header-image:before {
  background-image: url('../img/main_bg.jpg');
}

.console-back {
    background: rgba(0,0,0,.5);
    font-family: monospace;
    color: white;
    padding: 30px;
}

.header-image{
  background-image: url('../img/main_bg.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
}

/* Wrapper class to put in div around tables */
.table-wrapper {
  margin-top: 0px;
}

#data-table {
  border: 2px solid black;
}

/* Styling for our data table hover */
#data-table > tbody > tr:hover {
  background-color: #c2f5f6;
}

/* Add pointer to rows in data tables because they're links */
#data-table > tbody > tr {
  cursor: pointer;
}

/* Change color of the borders of table header */
#data-table thead > tr > th {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: black;
  font-size: 20px;
  text-align: center;
}

/* Change color of the borders of table rows */
#data-table tbody > tr > td {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
  font-weight: bold;
  text-align: center;
}

/* center text */
.center-text {
  text-align: center;
}

.servbutton {
  size:100%;
}

.servbutton:hover {
  color:black;
  size:120%
}

/* Makes text bold */
.bold-text {
  font-weight: bold;
}

/* Style for individual page images, centers them */
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Removes bullet points from ul */
.no-bullet > li {
  list-style: none;
}

.page-heading-90 {
  width:90%;
  height:5%;
}

.page_loca_map{
  width:100%;
  height:70%;
}

.page-data-center {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

  .features {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 2em 0;
    background-color: rgba(255, 255, 255, .3);
  }

    .features article {
      padding: 1.75em 1.75em 0.1em 1.75em ;
      border-radius: 5px;
      margin: 1.5em 3em 1.5em 0;
      width: calc(50% - 1.5em);
    }

      .features article:nth-child(2n) {
        margin-right: 0;
      }

      .features article .image {
        border-radius: 5px 5px 0 0;
        display: block;
        margin-bottom: 1.75em;
        margin-left: -1.75em;
        margin-top: -1.75em;
        position: relative;
        width: calc(100% + 3.5em);
        height: 100%;
      }

        .features article .image img {
          border-radius: 5px 5px 0 0;
          width: 100%;
          height: 100%;
        }

    @media screen and (max-width: 980px) {

      .features article {
        margin: 1em 2em 1em 0;
        width: calc(50% - 1em);
        height: 100%;
      }

    }

    @media screen and (max-width: 736px) {

      .features article {
        padding: 1.5em 1.5em 0.1em 1.5em ;
        margin: 0.875em 1.75em 0.875em 0;
        width: calc(50% - 0.875em - 1px);
        height: 100%;
      }

        .features article .image {
          margin-bottom: 1.5em;
          margin-left: -1.5em;
          margin-top: -1.5em;
          width: calc(100% + 3em);
          height: 100%;
        }

    }

    @media screen and (max-width: 640px) {

      .features {
        display: block;
      }

        .features article {
          width: 100%;
          margin: 0 0 2em 0 !important;
          height: 100%;
        }

    }

li2
{
    font-size: 30px;
    color: #E3AB8C;
}

subh{
  padding: 350px 0;
   align:center;
   width:90%;
   height:5%;
}

.space { 
  margin-top: 330px; 
}