{% extends "common_content.html" %}

{% block title %}About{% endblock %}

<!-- super() loads the header, navbar and an open body tag -->
{% block body %} {{super()}}
    <!-- About Section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">About Us</h2>
            <br></br>
          </div>
        </div>

        <!-- Alex, Tomas, Zach row -->
        <div class="row">
          <!-- Alex -->
          <div class="col-sm-4">
            <div class="team-member">
              <img src="{{ url_for('static', filename='img/team/1.jpg') }}" class="img-responsive">
              <h3 class="center-text">Alex Brockunier</h3>
              <p class="bold-text">
                I'm a senior in CS with one more semester to go. I had a web development internship last year and this Summer I'll be interning with Intentional Software, doing some research. In my free time I make music, create video games with my friends, play video games with my friends, read about computer science things, and miss my two cats.
              </p>
              <p class="text-muted">Major Responsibilities:</p>
              <ul>
                <li> Database design </li>
                <li> Database setup using SQLAlchemy </li> 
                <li> Python and RESTful API support </li>
                <li> Team leader (Phase 2) </li>
              </ul>
              <p></p>
              <p class="text-muted"> No. of commits: 23 </p>
              <p class="text-muted"> No. of issues: 12 </p>
              <p class="text-muted"> No. of unit tests: x </p>
            </div>
          </div>

          <!-- Tomas -->
          <div class="col-sm-4">
            <div class="team-member">
              <img src="{{ url_for('static', filename='img/team/2.jpg') }}" class="img-responsive">
              <h3 class="center-text">Tomas Gonzalez</h3>
              <p class="bold-text">
                I am currently a senior here at UT graduating May 2016, searching for a potential internship or job over the course of the next year. Wanting to become self-taught 2D/3D artist/animator, with interest in video games and concept art. I am unusually proud for having coined the name austinfoodfor.me, and I have a cat.
              </p>
              <p class="text-muted">Major Responsibilities:</p>
              <ul>
                <li> API design </li> 
                <li> Database design </li> 
                <li> UML design </li>
                <li> Website design </li>
              </ul>
              <p></p>
              <p class="text-muted"> No. of commits: 22 </p>
              <p class="text-muted"> No. of issues: 9 </p>
              <p class="text-muted"> No. of unit tests: 2 </p>
            </div>
          </div> 

          <!-- Zach -->
          <div class="col-sm-4">
            <div class="team-member">
              <img src="{{ url_for('static', filename='img/team/3.jpg') }}" class="img-responsive">
              <h3 class="center-text">Zachary Sanders</h3>
              <p class="bold-text">
                Senior in CS, this is my last semester here at UT. I've had three internships in the past and have accepted a full time Software Engineering position at American Express in Phoenix, AZ. I'm married, I have two cats and I enjoy a good cold adult beverage.
              </p>
              <p class="text-muted">Major Responsibilities: </p>
              <ul>
                <li> Deployment </li>
                <li> Setting up hosting environment </li>
                <li> Team leader (Phase 1) </li> 
              </ul>
              <p></p>
              <p class="text-muted"> No. of commits: 51 </p>
              <p class="text-muted"> No. of issues: 16 </p>
              <p class="text-muted"> No. of unit tests: 12 </p>
            </div>
          </div>
        </div>

        <!-- Angel, Ann row -->
        <div class="row">
          <!-- Angel -->
          <div class="col-sm-4 col-sm-offset-2">
            <div class="team-member">
              <img src="{{ url_for('static', filename='img/team/4.jpg') }}" class="img-responsive">
              <h3 class="center-text">Angel Xiao</h3>
              <p class="bold-text">
                Junior in CS. I've had an summer internship in National Instrument. I will be a Software Engineering intern in Microsoft in the following summer. I have a cat named hacker. I am a photographer and I love taking photos.
              </p>
              <p class="text-muted">Major Responsibilities:</p>
              <ul>
                <li> Graphics design </li>
                <li> Website design </li> 
                <li> Wiki management </li>
              </ul>
              <p></p>
              <p class="text-muted"> No. of commits: 18 </p>
              <p class="text-muted"> No. of issues: 8 </p>
              <p class="text-muted"> No. of unit tests: 2 </p>
            </div>
          </div>

          <!-- Ann -->
          <div class="col-sm-4">
            <div class="team-member">
              <img src="{{ url_for('static', filename='img/team/5.jpg') }}" class="img-responsive">
              <h3 class="center-text">An-Yi Yu</h3>
              <p class="bold-text">
                I'm a senior in Computer Science. I was born in Taiwan and moved to the United States when I was 11 years old. I don't have a cat, but I had a hamster when I was little.
              </p>
              <p class="text-muted">Major Responsibilities: </p>
              <ul>
                <li> Website design </li> 
                <li> Website templates </li>
              </ul>
              <p></p>
              <p class="text-muted"> No. of commits: 32 </p>
              <p class="text-muted"> No. of issues: 8 </p>
              <p class="text-muted"> No. of unit tests: 2 </p>
            </div>
          </div> 
        </div>

      <br></br>

      <div class="row">

      <!-- Team Stats -->
      <div class="col-md-12">
        <h3>Team Stats</h3>
          <ul class="no-bullet">
            <div class="col-md-4">
              <li> Total no. of commits: 141 </li>
              <li> Total no. of issues: 53 </li>
              <li> Total no. of unit tests: 35 </li>
            </div>
            <div class="col-md-4">
              <li> <a href="http://docs.austinfoodidb.apiary.io/#">Apiary API</a></li>
              <li> <a href="https://github.com/brockuniera/cs373-idb/issues">GitHub Issue Tracker</a></li>
            </div>
            <div class="col-md-4">
              <li> <a href="https://github.com/brockuniera/cs373-idb">GitHub Repo</a></li>
              <li> <a href="https://github.com/brockuniera/cs373-idb/wiki">GitHub Wiki</a></li>
            </div>
          </ul>
      </div>

      <!-- Data -->
      <div class="col-md-12">
        <h3>Data</h3>
          <ul class="no-bullet">
            <li><a href="http://www.sqlalchemy.org/">SQLAlchemy</a></li>
          </ul>
      </div>

      <!-- Tools -->
      <div class="col-md-12">
        <h3>Tools</h3>
          <ul class="no-bullet">
            <!-- first column -->
            <div class="col-md-4">
              <li> <h4>Front End</h4></li>
            <ul>
              <li> <a href="https://angularjs.org/">AngularJS</a></li>
              <li> <a href="http://getbootstrap.com/">Bootstrap</a></li>
              <li> <a href="https://developers.google.com/maps/">Google Map</a></li>

            </ul>
              <li> <h4>Back End</h4></li>
            <ul>
              <li> <a href="http://flask.pocoo.org/">Flask</a></li>
              <li> <a href="http://flask-sqlalchemy.pocoo.org/2.1/">Flask SQLAlchemy Extension</a></li>
              <li> <a href="https://www.mysql.com/">MySql</a></li>
              <li> <a href="https://www.python.org/download/releases/3.0/">Python3</a></li>
            </ul>
            </div>
            <!-- second colums -->
            <div class="col-md-4">
              <li><h4>API</h4></li>
              <ul>
                <li> <a href="https://apiary.io/">Apiary</a></li>
                <li> <a href="https://www.yelp.com/developers">Yelp</a></li>
              </ul>
              <li><h4>Hosting</h4> </li>
              <ul>
                <li> <a href="https://www.namecheap.com/">Namecheap</a></li>
                <li> <a href="https://getcarina.com/">Rackspace Carina</a></li>
              </ul>
            </div>
            <!-- third colums -->
            <div class="col-md-4">
              <li><h4>Collaboration</h4></li>
              <ul>
                <li> <a href="https://github.com/">GitHub</a></li>
                <li> <a href="https://slack.com/">Slack</a></li>
              </ul>
                <li> <h4> Data Modeling</h4> </li>
              <ul> 
                <li> <a href="http://yuml.me/">yUML</a></li> 
              </ul>
          </ul>
        </div>
      </div>
           
        <div>
          <br></br>
          <a class="offanchor" id="console"></a>
          <div class="console-back">
          {{teststring|safe}}
        </div>
        
        <div class="intro-link-outer">
          <a class="intro-link" href="aboutT#console"> Click here to run tests </a>
        </div>
      
      </div>
  </section>
    <!DOCTYPE html>
<html>
<body>
{% endblock %}
<!-- common_content.html closes the body and html tags -->
