{% extends "common_content.html" %}

{% block title %}Category{% endblock %}

<!-- super() loads the header, navbar and an open body tag -->
{% block body %} {{super()}}
    <!-- The information about this particular category -->
    <section>
      <h2 class="center-text"> Category {{id}} </h2>
      <img class="center-img" src="{{ url_for('static', filename='img/cuisine-of-world.jpg') }}" height="300px" width="250px"</img>
      <div class="container table-wrapper">
        <table id="data-table" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Resturant total</th>
              <th>Review total</th>
              <th>Price Avg</th>
              <th>Rating Avg</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Japanese</td>
              <td>12</td>
              <td>200</td>
              <td>$$$</td>
              <td>3.3</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Table of related restaurants for this particular category -->
      <h1 class="center-text"> Related Restaurants </h1>
      <div class="container table-wrapper">
        <table id="data-table" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Phonenum</th>
              <th>Price</th>
              <th>Rating</th>
              <th>Reviewcount</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="document.location='/restaurant/1'">
              <td>1</td>
              <td>Koriente</td>
              <td>(512) 275-0852</td>
              <td> $ </td>
              <td>4.5</td>
              <td>954</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Table of related locations for this particular category -->
      <h1 class="center-text"> Related Locations </h1>
      <div class="container table-wrapper">
        <table id="data-table" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Address</th>
              <th>Neighborhood</th>
              <th>Zipcode</th>
              <th>latitude</th>
              <th>longitude</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="document.location='/location/1'">
              <td>1</td>
              <td>1403 E 7th St</td>
              <td>East Austin</td>
              <td>78702</td>
              <td>41.403831</td>
              <td>-94.993606</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
{% endblock %}
<!-- common_content.html closes the body and html tags -->