{% extends "common_content.html" %}

{% block title %}Category{% endblock %}

<!-- super() loads the header, navbar and an open body tag -->
{% block body %} {{super()}}
    <!-- The information about this particular category -->
    <section id="table">
      <div class="col-md-3">
        <img class="col-md-12 center-img" src="{{ url_for('static', filename='img/cuisine-of-world.jpg') }}" height="300px" width="300px">
        </img>
      </div>
      <div class="container col-md-9 table-wrapper">
        <h2> Category {{catdict['id']}} </h2>
        <table id="data-table" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Restaurant total</th>
              <th>Review total</th>
              <th>Rating Avg</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{catdict['id']}}</td>
              <td>{{catdict['name']}}</td>
              <td>{{catdict['resttotal']}}</td>
              <td>{{catdict['reviewtotal']}}</td>
              <td>{{catdict['ratingavg']}}</td>
            </tr>
          </tbody>
        </table>
        <h3> Related Restaurants </h3>
                <table id="data-table" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Phonenum</th>
              <th>Rating</th>
              <th>Reviewcount</th>
            </tr>
          </thead>
          <tbody>
          {% for restdict in reslist %}
            <tr onclick="document.location='/restaurant/1'">
              <td>{{restdict['id']}}</td>
              <td>{{restdict['name']}}</td>
              <td>{{restdict['phonenum']}}</td>
              <td>{{restdict['rating']}}</td>
              <td>{{restdict['reviewcount']}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
{% endblock %}
<!-- common_content.html closes the body and html tags -->
