{% extends "common_content.html" %}

{% block title %}Categories{% endblock %}

<!-- super() loads the header, navbar and an open body tag -->
{% block body %} {{super()}}
    <!-- All Category data table -->
    <section>
      <h1 class="center-text"> Categories </h1>
      <div class="container table-wrapper">
        <table id="data-table" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Resturant total</th>
              <th>Review total</th>
              <th>Price Avg</th>
              <th>Rating Avg</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="document.location='/category/1'">
              <td>1</td>
              <td>Japanese</td>
              <td>12</td>
              <td>200</td>
              <td>$$$</td>
              <td>3.3</td>
            </tr>
            <tr onclick="document.location='/category/2'"> 
              <td>2</td>
              <td>American</td>
              <td>10</td>
              <td>80</td>
              <td>$$</td>
              <td>3.4</td>
            </tr>
            <tr onclick="document.location='/category/3'">
              <td>3</td>
              <td>Mexican</td>
              <td>16</td>
              <td>240</td>
              <td>$$$</td>
              <td>3.0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
{% endblock %}
<!-- common_content.html closes the body and html tags -->