<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {
  var myCenter=new google.maps.LatLng({{locdict['latitude']}},{{locdict['longitude']}});

  var mapProp = {
    center:myCenter,
    zoom:15,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

  var marker=new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% extends "common_content.html" %}

{% block title %}Location{% endblock %}

<!-- super() loads the header, navbar and an open body tag -->
{% block body %} {{super()}}
    <!-- The information about this particular location -->
    <div id="googleMap" style="width:500px;height:380px;"></div>
    <section id="table">
      <div class="col-md-3">
        <img class="col-md-12 center-img" src="../img/austin-tx.jpg" height="300px" width="300px">
        </img>
      </div>
      <div class="container col-md-9 table-wrapper">
        <h2>Location {{locdict['id']}}</h2>
        <table id="data-table" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Address</th>
              <th>Neighborhood</th>
              <th>Zipcode</th>
              <th>latitude</th>
              <th>longitude</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{locdict['id']}}</td>
              <td>{{locdict['address']}}</td>
              <td>{{locdict['neighborhood']}}</td>
              <td>{{locdict['zipcode']}}</td>
              <td>{{locdict['latitude']}}</td>
              <td>{{locdict['longitude']}}</td>
            </tr>
          </tbody>
        </table>
      <!-- Table of related Restaurants for this particular location -->
      <h3>Related: Restaurant {{restdict['id']}}</h3>
        <table id="data-table" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Phonenum</th>
              <th>Rating</th>
              <th>Reviewcount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{restdict['id']}}</td>
              <td>{{restdict['name']}}</td>
              <td>{{restdict['phonenum']}}</td>
              <td>{{restdict['rating']}}</td>
              <td>{{restdict['reviewcount']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
{% endblock %}
<!-- common_content.html closes the body and html tags -->
