<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="/static/js/googlemapinit.js"></script>

{% extends "common_content.html" %}

{% block title %}Location{% endblock %}

<!-- super() loads the header, pppbar and an open body tag -->
{% block body %} {{super()}}
    <!-- The information about this particular location -->
    <div class="col-md-12">
    <div class="col-md-1" ></div>
    <div class="col-md-10">
      <section class="features">
        <h2 class="center-text">{{locdict['address']}}</h2>
        <div class="row">
            <div class="col-md-6">
              <h3><span class="fa fa-map-marker"> Map</span></h3>
              <div class="page_loca_map" id="googleMap"></div>
            </div>
            <div class="col-md-6">
              <h3><span class="fa fa-list"> Information</h3>
                <ul>
                  <li2><b>ID:</b> {{locdict['id']}}</li2>
                  <br></br>
                  <li2><b>Address:</b> {{locdict['address']}}</li2>
                  <br></br>
                  <li2><b>Neighborhood:</b> {{locdict['neighborhood']}}</li2>
                  <br></br>
                  <li2><b>Zipcode:</b> {{locdict['zipcode']}}</li2>
                  <br></br>
                  <li2 id="latitude" data-latitude="{{locdict['latitude']}}"><b>latitude:</b> {{locdict['latitude']}}</li2>
                  <br></br>
                  <li2 id="longitude" data-longitude="{{locdict['longitude']}}"><b>longitude:</b> {{locdict['longitude']}}</li2>
                </ul>
            </div>
        </div>

        <!-- Table of related estaurants for this particular location -->

        <h3 class="center-text">Related: Restaurant {{restdict['id']}}</h3>
        <table class="table" id="data-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Phonenum</th>
              <th>Rating</th>
              <th>Reviewcount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{restdict['id']}}</td>
              <td>{{restdict['name']}}</td>
              <td>{{restdict['phonenum']}}</td>
              <td>{{restdict['rating']}}</td>
              <td>{{restdict['reviewcount']}}</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
    <div class="col-md-1" ></div>
    </div>
{% endblock %}
<!-- common_content.html closes the body and html tags -->
