{% extends "common_content.html" %}

{% block title %}Location{% endblock %}

<!-- super() loads the header, navbar and an open body tag -->
{% block body %} {{super()}}
    <!-- The information about this particular location -->
    <section id="table">
      <h2 class="center-text"> Location {{id}}</h2>
      <img class="center-img" src="../img/austin-tx.jpg" height="300px" width="250px"</img>
      <div class="container table-wrapper">
        <table class="data-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Address</th>
              <th>Neighborhood</th>
              <th>Zipcode</th>
              <th>latitude</th>
              <th>longitude</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>1403 E 7th St</td>
              <td>East Austin</td>
              <td>78702</td>
              <td>41.403831</td>
              <td>-94.993606</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Table of related Restaurants for this particular location -->
      <h2 class="center-text"> Related Restaurants </h2>
      <div class="container table-wrapper">
        <table class="data-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Phonenum</th>
              <th>Price</th>
              <th>Rating</th>
              <th>Reviewcount</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="document.location='/restaurant/1'">
              <td>1</td>
              <td>Koriente</td>
              <td>(512) 275-0852</td>
              <td>$</td>
              <td>4.5</td>
              <td>954</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Table of Related Categories for this particular location -->
      <h2 class="center-text"> Related Categories </h2>
      <div class="table-wrapper container">
        <table class="data-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Resturant total</th>
              <th>Review total</th>
              <th>Price Avg</th>
              <th>Rating Avg</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="document.location='/category/1'">
              <td>1</td>
              <td>Japanese</td>
              <td>12</td>
              <td>200</td>
              <td>$$$</td>
              <td>3.3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
{% endblock %}
<!-- common_content.html closes the body and html tags -->