{% extends "common_content.html" %}

{% block title %}Other API Test{% endblock %}

<!-- super() loads the header, navbar and an open body tag -->
{% block body %} {{ super() }}
<section>
	<div class="col-md-12">

		<div id="body">
		  <div id="footer">
		    <h2 class="center-text">Testing Other Group's API</h2>
		    <li2>click or option-click to descend or ascend</li2>
		  </div>
		</div>
	</div>
<script src="/static/js/d3treemap.js"></script> <!-- TODO Move out of body of html -->

</section>
{% endblock %}
