{% extends "common_content.html" %}

{% block title %}Restaurant{% endblock %}

<!-- super() loads the header, navbar and an open body tag -->
{% block body %} {{super()}}
   <div class="col-md-10 col-md-offset-1">
    <section class="features">
      <h2 class="page-heading-90" align="center">{{locdict['address']}}</h2>
        <article class="col-md-4">
            <h3><span class="fa fa-file-picture-o"> Photo</h3>
           <img class="col-md-12 center-img" src="{{ url_for('static', filename='img/austin_eats.png') }}" height="300px" width="300px">
        </img>
        </article>
        <article class="col-md-4">
              <h3><span class="fa fa-list"> Information</h3>
              <li2><b>ID:</b> {{locdict['id']}}</li>
              <br></br>
              <li2><b>Name:</b> {{restdict['name']}}</li>
              <br></br>
              <li2><b>Phone Number:</b> {{restdict['phonenum']}}</li>
              <br></br>
              <li2><b>Rating:</b> {{restdict['rating']}}</li>
              <br></br>
              <li2><b>Review Count:</b> {{restdict['reviewcount']}}</li>
        </article>

        <!-- Table of related estaurants for this particular location -->

        <h3 class="page-heading-90" align="center" >Location {{locdict['id']}}</h3>
        <table class="table page-data-center" id="data-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Address</th>
              <th>Neighborhood</th>
              <th>Zipcode</th>
              <th>latitude</th>
              <th>longitude</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{locdict['id']}}</td>
              <td>{{locdict['address']}}</td>
              <td>{{locdict['neighborhood']}}</td>
              <td>{{locdict['zipcode']}}</td>
              <td>{{locdict['latitude']}}</td>
              <td>{{locdict['longitude']}}</td>
            </tr>
          </tbody>
        </table>

        <h3 class="page-heading-90" align="center" >Related Categories</h3>
        <table class="table page-data-center" id="data-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Restaurant total</th>
              <th>Review total</th>
              <th>Rating Avg</th>
            </tr>
          </thead>
          <tbody>
          {% for catdict in catlist %}
            <tr>
              <td>{{catdict['id']}}</td>
              <td>{{catdict['name']}}</td>
              <td>{{catdict['resttotal']}}</td>
              <td>{{catdict['reviewtotal']}}</td>
              <td>{{catdict['ratingavg']}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </section>
      </div>

{% endblock %}
<!-- common_content.html closes the body and html tags -->
