{% extends "common_content.html" %}

{% block title %}Restaurant{% endblock %}

<!-- super() loads the header, navbar and an open body tag -->
{% block body %} {{super()}}
    <!-- The information about this particular restaurant -->
    <section id="table">
      <div class="col-md-3">
        <img class="col-md-12 center-img" src="{{ url_for('static', filename='img/austin_eats.png') }}" height="300px" width="300px">
        </img>
      </div>
      <div class="container col-md-9 table-wrapper">
         <h2> Restaurant {{restdict['id']}} </h2>
        <table id="data-table" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Phonenum</th>
              <th>Rating</th>
              <th>Reviewcount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <a href="location/{{restdict['id']}}">
                <td>{{restdict['id']}}</td>
                <td>{{restdict['name']}}</td>
                <td>{{restdict['phonenum']}}</td>
                <td>{{restdict['rating']}}</td>
                <td>{{restdict['reviewcount']}}</td>
              </a>
            </tr>
          </tbody>
        </table>
        <h3>Location {{locdict['id']}}</h3>
        <table id="data-table" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Address</th>
              <th>Neighborhood</th>
              <th>Zipcode</th>
              <th>latitude</th>
              <th>longitude</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{locdict['id']}}</td>
              <td>{{locdict['address']}}</td>
              <td>{{locdict['neighborhood']}}</td>
              <td>{{locdict['zipcode']}}</td>
              <td>{{locdict['latitude']}}</td>
              <td>{{locdict['longitude']}}</td>
            </tr>
          </tbody>
        </table>
        <h3> Related Categories </h3>
        <table id="data-table" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Restaurant total</th>
              <th>Review total</th>
              <th>Rating Avg</th>
            </tr>
          </thead>
          <tbody>
          {% for catdict in catlist %}
            <tr>
              <td>{{catdict['id']}}</td>
              <td>{{catdict['name']}}</td>
              <td>{{catdict['resttotal']}}</td>
              <td>{{catdict['reviewtotal']}}</td>
              <td>{{catdict['ratingavg']}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
{% endblock %}
<!-- common_content.html closes the body and html tags -->
