{% extends "common_content.html" %}

{% block title %}Restaurants{% endblock %}

<!-- super() loads the header, navbar and an open body tag -->
{% block body %} {{super()}}
    <!-- All Restaurant data table -->
    <section>
      <h1 class="center-text"> Restaurants </h1>
      <div class="container table-wrapper">
        <table id="data-table" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Phonenum</th>
              <th>Price</th>
              <th>Rating</th>
              <th>Reviewcount</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="document.location='/restaurant/1'">
              <td>1</td>
              <td>Koriente</td>
              <td>(512) 275-0852</td>
              <td> $ </td>
              <td>4.5</td>
              <td>954</td>
            </tr>
            <tr onclick="document.location='/restaurant/2'">
              <td>2</td>
              <td>Franklin Barbecue</td>
              <td>(512) 653-1187</td>
              <td> $$ </td>
              <td>4.5</td>
              <td>2769 </td>
            </tr>
            <tr onclick="document.location='/restaurant/3'">
              <td>3</td>
              <td>Coco’s Cafe</td>
              <td>(512) 236-9398</td>
              <td>$</td>
              <td>3.5</td>
              <td>267</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
{% endblock %}
<!-- common_content.html closes the body and html tags -->