{% extends "common_content.html" %}

{% block title %}{{ title }}{% endblock %}

<!-- super() loads the header, navbar and an open body tag -->
{% block body %} {{ super() }}
    <!-- All Restaurant data table -->
    <section>
      <h1 class="center-text"> {{title}} </h1>
      <div class="center-text">
        <div class="intro-col">
          <ul class="pagination">
            <li><a href="{{page}}?page=1">1</a></li>
            <li><a href="{{page}}?page=2">2</a></li>
            <li><a href="{{page}}?page=3">3</a></li>
            <li><a href="{{page}}?page=4">4</a></li>
            <li><a href="{{page}}?page=5">5</a></li>
          </ul>
        </div>
      </div>
      <div class="container table-wrapper">
        <table id="data-table" class="table">
          <thead>
            <tr>
              {% for tableHeader in dataNames %}
              <th>
                <a href="/{{ page }}?sortby={{ tableHeader }}&amp;dir={{ direction }}">
                  {{ tableHeader }}
                  <span class="fa fa-caret-down"></span>
                </a>
              </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody class="clickable-rows">
          {% for dataModel in dataList %}
            <tr data-page="/{{ page }}"> 
              {% for attr in dataNames %}
              <td>{{ dataModel[attr] }}</td>
              {% endfor %} 
            </tr>
            {% endfor %}
          </tbody> 
        </table>
      </div>
    </section>
{% endblock %}
<!-- common_content.html closes the body and html tags -->
