{% extends "common_content.html" %}

{% block title %}{{ title }}{% endblock %}

<!-- super() loads the header, navbar and an open body tag -->
{% block body %} {{ super() }}
    <!-- All Restaurant data table -->
    <script>
      tableData({{ dataList|safe }});
    </script>
    <section>
      <h1 class="center-text"> {{title}} </h1>
      <div ng-app="swestaurantApp" ng-controller="sortTableCtrl" class="container table-wrapper">
        <table id="data-table" class="table">
          <thead>
            <tr>
              {% for tableHeader in dataNames %}
              <th>
                <a href="#" ng-click="sortType = '{{ tableHeader }}'; sortReverse = !sortReverse">
                  {{ tableHeader }}
                  <span ng-show="sortType == '{{ tableHeader }}'" class="fa fa-caret-down"></span>
                </a>
              </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody class="clickable-rows">
            <tr ng-repeat="dict in data | orderBy:sortType:sortReverse" data-page="/{{ page }}"> 
              {% for attr in dataNames %}
                <td>{[ dict.{{attr}} ]}</td>
              {% endfor %}
            </tr>
          </tbody> 
        </table>
      </div>
    </section>
{% endblock %}
<!-- common_content.html closes the body and html tags -->
